.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);

    .service {
        width: var(--website--width);
        max-width: var(--website--max-width);

        .service__container {
            display: grid;
            grid-template-columns: repeat(2,auto);
            gap: var(--spacing-md);
            
            .block__body--left {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .images__container {
                    display: grid;
                    grid-template-columns: auto max-content;
                    column-gap: var(--spacing-xs);

                    .carrousel {
                        display: grid;
                        grid-template-columns: 3.125rem;
                        grid-template-rows: repeat(3,3.125rem);
                        gap: var(--spacing-xs);

                        .img__container {
                            cursor: pointer;
                        }

                        .img--selected {
                            border: .125rem solid var(--fd-color-brand-secondary);
                        }
                    }

                    .img__container {
                        overflow: hidden;
                        border-radius: var(--radius-minimal);
                    }

                    .main__img {
                        position: relative;
                        max-height: 21.25rem;

                        .img--show {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .img--hide {
                            display: none;
                        }

                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
                
            }


            .block__body--right {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xs);
                justify-content: space-between;

                .body {
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-xs);
                }

                .footer {
                    display: flex;
                    gap: var(--spacing-xs);
                    justify-content: flex-end;

                }
            }
        }

    }

    .title--other-services {
        width: var(--website--width);
        max-width: var(--website--max-width);
        overflow: hidden;
    }

    .other-services {
        width: var(--website--width);
        max-width: var(--website--max-width);
    }
}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .container {
        .service {
            .service__container {
                display: flex;
                flex-direction: column;

                .block__body--left {
                    width: 100%;

                    .images__container {
                        grid-template-columns: 1fr;
                        row-gap: var(--spacing-sm);

                        .carrousel {
                            grid-template-rows: 3.125rem;
                            grid-template-columns: repeat(3, 3.125rem);
                        }
                    }
                    
                    img {
                        height: 100%;
                        width: auto;
                    }
                }

                .block__body--right {
                    .footer {
                        flex-direction: column;
                        
                        a {
                            box-sizing: border-box;
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}
/* ? Breakpoint MD */
@media screen and (min-width:461px) and (max-width:1024px) {
    .container {
        .service {
            .service__container {
                display: flex;
                flex-direction: column;
                
                .block__body--right {

                    .footer {
                        flex-direction: column;
                        a {
                            width: 100%;
                            box-sizing: border-box;
                        }
                    }
                }
            }
    
        }
    }
}

