.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    
    .block {
        width: var(--website--width);
        max-width: var(--website--max-width);
    }

    .block__main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--spacing-md);
        
        .block__left {
            position: relative;
            z-index: -1;
    
            .block__right--bg {
                position: absolute;
                bottom: 120px;
                right: 0;
                background-color: var(--fd-color-bg-secondary);
                border-radius: var(--radius-rounded);
                width: 100%;
                height: 80%;
                z-index: -1;
            }
            
            img {
                height: auto;
                width: fit-content;
            }
    
        }

        .block__right  {
            display: flex;
            align-items: flex-start;

            .block--header {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xs);
                justify-content: center;
            }
        }
    }

}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .container {
        .block__main {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);

            .block__left {
                order: 2;
                width: 100%;
        
                .block__right--bg {
    
                    top: 0;
                    right:0;
                    bottom: 0;
                    width: 100%;
                    height: 75%;
    
                }
                img {
                    width: 100%;
                }
    
            }
    
            .block__right {
                order: 1;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-md);
    
                .btns--container {
                    display: flex;
                    justify-content: center;
                    gap: var(--spacing-sm);
                }
        
            }    
        }

    }
    
}

/* ? Breakpoint MD */
@media screen and (min-width:461px) and (max-width:1024px) {
    .container {
        .block__main {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--spacing-lg);
            
            .block__left  {
                order: 2;
    
                .block__right--bg {
    
                    top: 1.6rem;
                    bottom: 0;
                    width: 100%;
                    height: 75%;
    
                }
                img {
                    width: 100%;
                }
    
            }
    
            .block__right  {
                order: 1;
                text-align: center;
    
                .btns--container {
                    display: flex;
                    justify-content: center;
                    gap: var(--spacing-sm);
    
                }
            }
            
        }
    }
    
}