.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
    
    .block {
        width: var(--website--width);
        max-width: var(--website--max-width);
    }

    .block__main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: var(--spacing-md);
        
        .block__left {
            z-index: -1;

            img {
                width: 100%;
                height: auto;
                overflow: hidden;
                border-radius: var(--radius-rounded);
            }
    
        }

        .block__right  {
            display: flex;
            align-items: flex-start;

            .block--header {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xs);
                justify-content: center;
            }
        }
    }

}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .container {
        .block__main {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-lg);

            .block__left {
                order: 2;
                width: 100%;        
            }
    
            .block__right {
                order: 1;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: var(--spacing-md);
    
                .btns--container {
                    display: flex;
                    justify-content: center;
                    gap: var(--spacing-sm);
                }
        
            }    
        }

    }
    
}

/* ? Breakpoint MD */
@media screen and (min-width:461px) and (max-width:1024px) {
    .container {
        .block__main {
            display: grid;
            grid-template-columns: 1fr;
            gap: var(--spacing-lg);
            
            .block__left  {
                order: 2;  
            }
    
            .block__right  {
                order: 1;
                text-align: center;
    
                .btns--container {
                    display: flex;
                    justify-content: center;
                    gap: var(--spacing-sm);
    
                }
            }
            
        }
    }
    
}