.container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--spacing-md);

    .card {
        border-radius: var(--radius-minimal);
        padding: var(--spacing-md);
    }
    .card:first-child {
        background: var(--fd-color-brand-secondary);

        p:first-child {
            color: var(--fd-color-bg-primary);
        }

        p:last-child {
            color: var(--fd-color-bg-secondary);
        }
    }
    
    .card:last-child {
        background-color: var(--fd-color-bg-secondary);
        color: var(--fd-color-tertiary);
        
        p:first-child {
            color: var(--fd-color-primary);
        }
        
        p:last-child {
            color: var(--fd-color-quaternary);
        }
    }
}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
    }
}