.container {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    padding: var(--spacing-md) 0;
    gap: var(--spacing-sm);

    img {
    
        width: 100%;
        height: fit-content;
    }
}

/* ? Breakpoint MD */
@media screen and (min-width:461px) and (max-width:1024px) {
    .container {
        display: grid;
        grid-template-columns:repeat(5,1fr);
        grid-template-rows: repeat(2,1fr);
        padding: var(--spacing-md) 0;
        gap: var(--spacing-sm);
    
        img {
        
            width: 100%;
            height: fit-content;
        }
    }
    
}

/* ? Breakpoint SM */
@media screen and (max-width:460px) {
    .container {
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        padding: var(--spacing-md) 0;
        gap: var(--spacing-sm);
    
        img {
        
            width: 100%;
            height: fit-content;
        }
    }
    
}