* {
    //
    // ?                            Set Default Properties
    //
    font-family:var(--font--family__primary);
    margin: 0;
    padding: 0;
    transition: background-color var(--transition-time);
    transition: font-size var(--transition-time);
    line-height: 150%;
    body::-webkit-scrollbar {
        width: 0;
    }
    body {
        background-color:var(--fd-color-bg-primary);
    }
    p, a, li {
        transition: font-size var(--transition-time);
    }
    a, ul {
        text-decoration: none;
    }
    ::marker {
        color: transparent;
    }    
    img {
        height: auto;
    }
    //                                       
    // ?                                    Font Colors 
    //  
    .font__color--primary {
        color: var(--fd-color-primary);
    }
    .font__color--secondary {
        color: var(--fd-color-secondary);
    }
    .font__color--tertiary {
        color: var(--fd-color-tertiary);
    }
    .font__color--quaternary {
        color: var(--fd-color-quaternary);
    }
    .font__color--brand-primary {
        color: var(--fd-color-brand-primary);
    }
    .font__color--brand-secondary {
        color: var(--fd-color-brand-secondary);
    }
    .font__color--brand-tertiary {
        color: var(--fd-color-brand-tertiary);
    }
    .font__color--link {
        color: var(--fd-color-brand-primary);
    }
    // * ---------------------------------- Lang ----------------------------------------------
    .font__color--lang {
        color: var(--fd-color-lang-primary);
    }
    //                                       
    // ?                                    Classes 
    //
    // ?                                    Font size 
    //                                       
    // * ---------------------------------- Headlines ------------------------------------------   
    .font__size--h1 {
        font-size: var(--font__size--h1);
    }
    .font__size--h2 {
        font-size: var(--font__size--h2);
    }
    .font__size--h3 {
        font-size: var(--font__size--h3);
    }
    .font__size--h4 {
        font-size: var(--font__size--h4);
    }
    .font__size--h5 {
        font-size: var(--font__size--h5);
    }
    .font__size--h6 {
        font-size: var(--font__size--h6);
    }
    // * ---------------------------------- Body -----------------------------------------------   
    .font__size--b1 {
        font-size: var(--font__size--b1);
    }
    .font__size--b2 {
        font-size: var(--font__size--b2);
    }
    // * ---------------------------------- Captions -------------------------------------------   
    .font__size--c1 {
        font-size: var(--font__size--c1);
    }
    .font__size--c2 {
        font-size: var(--font__size--c2);
    }
    .font__size--c3 {
        font-size: var(--font__size--c3);
    }
    // * ---------------------------------- Label ----------------------------------------------
    .font__size--label {
        font-size: var(--font__size--b2);
    }
    //                                       
    // ?                                    Font Weight 
    //  
    .font__weight--regular {
        font-weight:400;
    }
    .font__weight--medium {
        font-weight:500;
    }
    .font__weight--semibold {
        font-weight:600;
    }
    .font__weight--bold {
        font-weight:700;
    }
    
    //                                       
    // ?                                    Helpers 
    //  
    .cursor--pointer {
        cursor: pointer;
    }
    .none {
        display: none;
    }
    .d--flex {
        display: flex;
    }
    .pointer-events--none {
        pointer-events: none;
    }
    .w--100 {
        width: 100%;
    }
    .block {
        width: var(--website--width);
        max-width: var(--website--max-width);
    }
    // * ---------------------------------- Color Background -----------------------------------
    .bg_primary {
        color: var(--fd-color-bg-primary);
    }
    .bg_secondary {
        color: var(--fd-color-bg-secondary);
    }
    .bg_tertiary {
        color: var(--fd-color-bg-tertiary);
    }
    //                                       
    // ?                                     Buttons 
    //                                       
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        min-width: 5.1875rem;
        gap: .5rem;
        font-size: var(--font__size--b2);
        padding:var(--spacing-xs) 1.5rem;
        border-radius: var(--radius-full);
        cursor: pointer;
        font-weight: 500;
        border:none;
        // -------- Button Primary
        &.btn--primary {
            background-color: var(--fd-btn-bg-color);
            color: var(--fd-btn-color);
            &:hover {
                background-color: var(--fd-btn-hover-bg-color);
                color: var(--fd-btn-hover-color);
            }
            &:active {
                background-color: var(--fd-btn-active-bg-color);
                color: var(--fd-btn-active-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-focus-outline);
            }
        }

        & img {
            width: 1.375rem;
            height: 1.375rem;
        }
        // -------- Button Outline Primary
        &.btn--outline__primary {
            background-color: var(--fd-btn-outline-primary-bg-color);
            color: var(--fd-btn-outline-primary-txt-color);    
            outline:var(--border-xs) solid var(--fd-btn-outline-primary-outline-color);
            &:hover {
                background-color: var(--fd-btn-outline-primary-hover-bg-color);
                color: var(--fd-btn-outline-primary-hover-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-primary-hover-outline-color);
            }
            &:active {
                background-color: var(--fd-btn-outline-primary-active-bg-color);
                color: var(--fd-btn-outline-primary-active-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-primary-active-outline-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-outline-primary-focus-outline);
            }
        }

        // -------- Button Outline Secondary
        &.btn--outline__secondary {
            background-color: var(--fd-btn-outline-secondary-bg-color);
            color: var(--fd-btn-outline-secondary-txt-color);    
            outline:var(--border-xs) solid var(--fd-btn-outline-secondary-outline-color);
            &:hover {
                background-color: var(--fd-btn-outline-secondary-hover-bg-color);
                color: var(--fd-btn-outline-secondary-hover-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-secondary-hover-outline-color);
            }
            &:active {
                background-color: var(--fd-btn-outline-secondary-active-bg-color);
                color: var(--fd-btn-outline-secondary-active-txt-color);
                outline:var(--border-xs) solid var(--fd-btn-outline-secondary-active-outline-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-outline-secondary-focus-outline);
            }
        }

        // -------- Button Success
        &.btn--success {
            background-color: var(--fd-btn-success-bg-color);
            color: var(--fd-btn-success-txt-color);    
            outline:var(--border-xs) solid var(--fd-btn-success-outline-color);
            &:hover {
                background-color: var(--fd-btn-success-hover-bg-color);
                color: var(--fd-btn-success-hover-color);
                outline:var(--border-xs) solid var(--fd-btn-success-hover-outline-color);
            }
            &:active {
                background-color: var(--fd-btn-success-active-bg-color);
                color: var(--fd-btn-success-active-color);
                outline:var(--border-xs) solid var(--fd-btn-success-active-outline-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid var(--fd-btn-success-focus-outline);
            }
        }

        // -------- Button WhatsApp
        &.btn--whatsapp {
            background-color: #25D366;
            color: var(--fd-btn-color);
            &:hover {
                background-color: #40e07b;
                color: var(--fd-btn-color);
            }
            &:active {
                background-color: #1ea851;
                color: var(--fd-btn-color);
            }
            &:focus-visible {
                outline:var(--border-lg) solid #1ea851;
            }
        }
    }
    .btn--whatsapp-float {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background-color: #25D366;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--radius-full);
        padding: var(--spacing-xs);
    }
    
    /* ? Breakpoint SM */
    @media screen and (max-width:460px) {
        .btn--whatsapp {
            bottom: 1rem;
            right: 1rem;
        }
    }
    // * ---------------------------------- Cards Style promotion -----------------------------------
    .promotion {
        position: absolute;
        top: 0;
        left: 0;
        padding: var(--spacing-xs);
        border-bottom-right-radius:.6375rem;
    }

    .best-seller {
        background-color: var(--fd-color-warning);
    }

    .new {
        background-color: var(--fd-color-success);
    }

    .sale {
        background-color: var(--fd-color-danger);
    }

    // ?                                     Responsive SM 
    //  
    @media screen and (max-width:480px) {
        .font__size--h4 {
            font-size: var(--font__size--h5);
        }
        .font__size--b1 {
            font-size: var(--font__size--b2);
        }
        .font__size--b2 {
            font-size: var(--font__size--c1);
        }
    }

}
